.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
    height: 120px;
     
} 
.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}
.basket__msg{
    margin-left: 10px;
    text-transform: capitalize;
}
.checkoutProduct__rating{
    color: rgb(255, 208, 0);
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
 